/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    margin: 0;
    padding: 0;
    background-color: rgba(85, 14, 228, 0.593); 
    font-size: 1.1rem;
    font-family: 'Lucida', sans-serif;
}
.page {
	background-color:transparent; 
}
.entete{
    background-color: hotpink;
    padding: 10px;
}
.entete__title {
    font-size: 2rem;
    color: rgb(97, 243, 13);
}
.entete__slogan {
    font-size: 1.2rem;
    color: rgb(42, 246, 199);
    font-style: italic;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: rgb(216, 240, 38);
    padding: 10px;
}
h1 {
    background-color: rgb(218, 188, 240);
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid purple;
}
.introduction {
    font-style: italic;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}
h2 {
    color: chocolate;
    font-size: 1.8rem;
    padding: 20px;
    font-variant: small-caps;
}
strong {
    color:rgb(243, 21, 21);
    font-weight:normal;
}
em {
    color: rgb(34, 110, 168);
}
a {
    font-weight: 800;
}
:hover {
    color: green;
    text-decoration: none;
}
.pieddepage{
    background-color: rgb(240, 48, 80);
    color: antiquewhite;
    text-align: center;
    line-height:50px;
}




