/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    margin: 0;
    padding: 0;
    background-color: rgba(85, 14, 228, 0.593); 
    font-size: 1.1rem;
    font-family: 'Lucida', sans-serif;
}
.page {
	background-color:transparent; 
}
.entete{
    background-color: hotpink;
    padding: 10px;
}
.entete__title {
    font-size: 2rem;
    color: rgb(97, 243, 13);
}
.entete__slogan {
    font-size: 1.2rem;
    color: rgb(42, 246, 199);
    font-style: italic;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: lightgreen;
}
.pieddepage{
    background-color: lightgray;
}




